@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

.screen2 {
    height: 200vh;
}

/*
::-webkit-scrollbar {
    display: none;
}

.element-class::-webkit-scrollbar {
    display: none;
}
*/
